<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>About</title>
  </head>
  <body>
      <section class="hero is-large" style="background-color: #18C7FA; padding: 15px 50px 15px; border-radius: 5px;">
          <div class="hero-body">
            <div class="container">
              <h1 class="title" style="text-align:center; color:#FFFF;">
                  Transportasi untuk Perjalanan Anda
              </h1>
            </div>
          </div>
        </section>
      <br>
        <nav class="navbar" role="navigation" aria-label="main navigation">      
          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a href="http://localhost:5000/" class= "navbar-item">
                Home
              </a>  
              <a href = "http://localhost:5000/about" class="navbar-item">
                About
              </a>
            </div>
          </div>
        </nav>
      <article style="float: left; padding: 20px; width: 70%; background-color: #ffffff;">
        <h1>About</h1>
        <p>Pembuataan aplikasi untuk mata kuliah Teknologi Sistem Terintegrasi.</p>
        <p>Aplikasi ini adalah sebuah aplikasi untuk mengecek ketersedian transportasi. </p>
        <p>Pengguna dapat melakukan transportasi yang tersedia dengan memilih asal dan tujuan kota.</p>
        <p><b>Dibuat oleh:</b></p>
        <p>Firdausi Aditya Darmawan - 18217001</p>
        <p>Daeng Muhammad Yusuf Aqsha Alfarabi  - 18217045</p>
      </article>
  </body>
</html>