<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Transportasi</title>
    
</head>
<body>
      
    <section class="hero is-large" style="background-color: #18C7FA; padding: 15px 50px 15px; border-radius: 5px;">
        <div class="hero-body">
          <div class="container">
            <h1 class="title" style="text-align:center; color:#FFFF;">
                Transportasi untuk Perjalanan Anda
            </h1>
          </div>
        </div>
      </section> 

      <nav class="navbar" role="navigation" aria-label="main navigation">      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a href='home.html' class="navbar-item">
              Kembali
            </a>
          </div>
        </div>
      </nav>
      <br>
      <div class="columns" style="column-count: 2;">
          <div class="column">
            <table style=" font-family: arial, sans-serif; border-collapse: collapse; width: 100%; text-align: left;">
                    <tr>
                    <th>Company</th>
                    <th>Contact</th>
                    <th>Country</th>
                    </tr>
                    <tr>
                    <td>Alfreds Futterkiste</td>
                    <td>Maria Anders</td>
                    <td>Germany</td>
                    </tr>
                    <tr>
                    <td>Centro comercial Moctezuma</td>
                    <td>Francisco Chang</td>
                    <td>Mexico</td>
                    </tr>
                    <tr>
                    <td>Ernst Handel</td>
                    <td>Roland Mendel</td>
                    <td>Austria</td>
                    </tr>
                    <tr>
                    <td>Island Trading</td>
                    <td>Helen Bennett</td>
                    <td>UK</td>
                    </tr>
                    <tr>
                    <td>Laughing Bacchus Winecellars</td>
                    <td>Yoshi Tannamuri</td>
                    <td>Canada</td>
                    </tr>
                    <tr>
                    <td>Magazzini Alimentari Riuniti</td>
                    <td>Giovanni Rovelli</td>
                    <td>Italy</td>
                    </tr>
                </table>
            </div>
            
            <div class="column">
                    <table style=" font-family: arial, sans-serif; border-collapse: collapse; width: 100%; text-align: left;">
                            <tr>
                            <th>Company</th>
                            <th>Contact</th>
                            <th>Country</th>
                            </tr>
                            <tr>
                            <td>Alfreds Futterkiste</td>
                            <td>Maria Anders</td>
                            <td>Germany</td>
                            </tr>
                            <tr>
                            <td>Centro comercial Moctezuma</td>
                            <td>Francisco Chang</td>
                            <td>Mexico</td>
                            </tr>
                            <tr>
                            <td>Ernst Handel</td>
                            <td>Roland Mendel</td>
                            <td>Austria</td>
                            </tr>
                            <tr>
                            <td>Island Trading</td>
                            <td>Helen Bennett</td>
                            <td>UK</td>
                            </tr>
                            <tr>
                            <td>Laughing Bacchus Winecellars</td>
                            <td>Yoshi Tannamuri</td>
                            <td>Canada</td>
                            </tr>
                            <tr>
                            <td>Magazzini Alimentari Riuniti</td>
                            <td>Giovanni Rovelli</td>
                            <td>Italy</td>
                            </tr>
                        </table>
                </div>
        </div>
</body>
</html>